/* 1. 기본 구조 생성 CSS */
* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh; /* 최소 높이 */
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

img {
  max-width: 100%;
}

/* 8. 사용자 지정 속성
Visual Studio Code 옆의 돋보기 아이콘을 눌러서, 
해당하는 색상을 사용자 지정 속성으로 대체했다.
Ex1) #ffffff 를 var(--primary)
Ex2) #fafafa 를 var(--secondary)

*/
:root {
  --primary: #ffffff;
  --secondary: #fafafa;
  --border: #dbdbdb;

  --story-border: #c7c7c7;

  --text-dark: #262626;
  --text-light: #999999;
}

/* 9. dark mode */
:root.darkTheme {
  --primary: #000000;
  --secondary: #050505;
  --border: #262626;

  --story-border: #707070;

  --text-dark: #fafafa;
  --text-light: #999999;
}
